
@model Final_Movie_project.ViewModel.Director_movie_view_model

@using Final_Movie_project.Models

@{
    ViewBag.Title = "CreateNewDirector";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateNewDirector</h2>

@using (Html.BeginForm("CreateNewDirector", "Director", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
@Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Director</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Director.Fname, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Director.Fname, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Director.Fname, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Director.Lname, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Director.Lname, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Director.Lname, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Director.Age, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Director.Age, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Director.Age, "", new { @class = "text-danger" })
        </div>
    </div>


    @*<div class="form-group">
        <label>DirectorName</label>
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Movie, new SelectList(Model.Movie, "MovieId", "MovieName"), "Select Movie Name", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Director.DirectorId, "", new { @class = "text-danger" })
        </div>
    </div>*@




    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
