@model Final_Movie_project.Models.Director

@{
    ViewBag.Title = "DirectorDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DirectorDetails</h2>

<div>
    <h4>Director</h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            MOvie Name
        </dt>

        <dd>
            <ul>
                @foreach (var record in Model.Movie)
                {
                    <li>
                        @record.MovieName
                    </li>

                }
            </ul>
        
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
