@model IEnumerable<Final_Movie_project.Models.Director>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CreateNewDirector" , "Director")
</p>
<table class="table">
    <tr>
       

        <th>
            @Html.DisplayNameFor(model => model.Fname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
    

        <td>
            @Html.DisplayFor(modelItem => item.Fname)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Lname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditDirector", new { id = item.DirectorId }) |
            @Html.ActionLink("Details", "DirectorDetails", new { id = item.DirectorId }) |
            @Html.ActionLink("Delete", "DeleteDirector", new { id = item.DirectorId })
        </td>
    </tr>
}

</table>
