@model IEnumerable<Final_Movie_project.Models.Movie>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CreateNewMovie")
</p>
<table class="table">
    <tr>
        <th>
            Director Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MovieName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Director.Fname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MovieName)
        </td>
        <td>
            @if (item.Image != null)
            {
                <div class="image-size">
                    <img src="~/images/profiles/@item.Image" alt="error" class="img-responsive image-center" width="50" height="50" />
                </div>
            }
            else
            {
                <img src="~/images/profiles/no-user.png" width="50" height="50" />
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "MovieEdit", new { id=item.MovieId }) |
            @Html.ActionLink("Details", "MovieDetails", new { id=item.MovieId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MovieId })
        </td>
    </tr>
}

</table>
